In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel('train_sum_agg.xlsx', header=None, names=["Date", "Time", "Energy"])

In [25]:
date = np.array([ i.split('/')  for i in np.array(df['Date']) ])

In [26]:
time = np.array([ str(i).split(' ')[-1].split(':')  for i in np.array(df['Time']) ])

In [27]:
df['Year'] = [ float(i) for i in date[:,0]]
df['Month'] = [ float(i) for i in date[:,1]]
df['Day'] = [ float(i) for i in date[:,2]]

df['Hour'] = [ float(i) for i in time[:,0]]
df['Minute'] = [ float(i) for i in time[:,1]]

In [28]:
df['Hour_sin'] = np.sin(df['Hour']*(2.*np.pi/24))
df['Hour_cos'] = np.cos(df['Hour']*(2.*np.pi/24))

df['Month_sin'] = np.sin((df['Month']-1)*(2.*np.pi/12))
df['Month_cos'] = np.cos((df['Month']-1)*(2.*np.pi/12))

df['Day_sin'] = np.sin((df['Day']-1)*(2.*np.pi/31))
df['Day_cos'] = np.cos((df['Day']-1)*(2.*np.pi/31))

In [29]:
df['Value'] = df['Energy']

In [30]:
df = df.filter(['Year' , 'Month_sin', 'Month_cos' , 'Day_sin', 'Day_cos' , 'Hour_sin', 'Hour_cos' , 'Value'])

In [31]:
mean = df['Value'].mean(axis=0)
std = df['Value'].std(axis=0)
print("mean : " , mean, " , std: ", std)

mean :  336778.934251831  , std:  119367.49041163233

In [32]:
df2 = df.loc[ abs (df['Value'] - mean) < 2.5 * std ]

In [33]:
print('removed ' , df.shape[0] - df2.shape[0] , 'data ')
df = df2

removed  55 data

In [34]:
for col in columns:
    mnCol = float(df[col].min())
    mxCol = float(df[col].max())
    dur = mxCol - mnCol
    if dur == 0:
        dur = 1
    df[col] = [ ((float(u) - mnCol) / dur) for u in np.array(df[col]) ]

In [35]:
df.to_excel(r'prepared_train_data.xlsx', index=False, header =True)

In [36]:
df

,Year,Month_sin,Month_cos,Day_sin,Day_cos,Hour_sin,Hour_cos,Value
0,0.0,0.500000,1.00,0.500000,1.000000,0.500000,1.000000,140691.871
1,0.0,0.500000,1.00,0.500000,1.000000,0.629410,0.982963,141998.723
2,0.0,0.500000,1.00,0.500000,1.000000,0.750000,0.933013,200350.726
3,0.0,0.500000,1.00,0.500000,1.000000,0.853553,0.853553,203173.337
4,0.0,0.500000,1.00,0.500000,1.000000,0.933013,0.750000,203106.594
...,...,...,...,...,...,...,...,...
42595,1.0,0.066987,0.75,0.994869,0.574623,0.017037,0.629410,416532.189
42596,1.0,0.066987,0.75,0.994869,0.574623,0.066987,0.750000,425497.716
42597,1.0,0.066987,0.75,0.994869,0.574623,0.146447,0.853553,426226.398
42598,1.0,0.066987,0.75,0.994869,0.574623,0.250000,0.933013,449911.435
42599,1.0,0.066987,0.75,0.994869,0.574623,0.370590,0.982963,443645.068